<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="">
        {% csrf_token %}
        <h1>새로운 글쓰기</h1>
        <p>제목</p>
        <input type="text" name="title">
        <br>
        <p>내용</p>
        <textarea name="content" id="" cols="30" rows="10"></textarea>
    </form>

</body>
</html>