{% extends 'base.html' %}

{% block content %}
<style>
        body{text-align: center;}
    </style>
<h1>WRITE your project</h1>

<form action="{%url 'create'%}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <p>제목 : <input type="text" name="title"></p>
    <p>프로젝트명 : <input type="text" name="project_name"></p>
    <p>사진 : <input type="file" name="image"></p> 
    본문 : <textarea name="body" id="" cols="30" rows="10"></textarea>
    <button type="submit">submit</button>

</form>

{% endblock %}