<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>로그인</p>
    <form action="" method="POST" >
    {% csrf_token %}
        <label for="username">ID</label>
        <input type="text" name="username" placeholder="아이디를 입력해주세요">
        <label for="password">pw</label>
        <input type="text" name="password" placeholder="비밀번호를 입력해주세요">
        <input type="submit" title="제출">
     </form>
  
</body>
</html>